<html>
<head>
    <title><%= INTL_TITLE %></title>
    <meta charset="utf-8">
    <meta id="meta-description" name="description" content="<%= INTL_META_DESCRIPTION %>">
    <meta id="meta-tags" name="tags" content="<%= INTL_META_TAGS %>">
    <meta name="viewport" content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=yes">

</head>

<body style="margin:0px;background-color: #000000;">

<canvas id="canvasHistory" style="width:100%;height:100%;margin:0px"></canvas>
<a id="btnMute"
   style="color: #ffffff;display: block;font:20px Arial;text-align: right; position: absolute; top: 0px; right:0px;padding:10px; border:1px solid white"><%=
    INTL_MUTE_INITIAL %></a>

<div id="textInfo"
     style="color:#ffffff; text-align: center; width:80%; margin-left:10%;position: absolute;bottom: 0px;pointer-events: none">
    <span style="pointer-events: none"><%=
    INTL_DESCRIPTION %></span>
    <p style="pointer-events: all;"><%=
        INTL_DESCRIPTION_LINKS %></p>
</div>


</body>

</html>
